[submodule "test/resource/modules"]
	path = test/resource/modules
	url = https://github.com/n3rdjs/npm-module-bundled.git
[submodule "esgraph"]
	path = esgraph
	url = https://github.com/n3rdjs/esgraph.git
