<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,600">
    <link rel="stylesheet" href="/static/css/codemirror/codemirror.css">
    <link rel="stylesheet" href="/static/css/codemirror/theme/material-palenight.css">
    <link rel="stylesheet" href="/static/css/jquery.json-viewer.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggler collapsed" data-toggle="collapse" data-target="#myNavbar"  aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Nerd Explorer</a>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="navbar-nav nav" id="myTab">
                <li class="nav-item">
                    <a class="nav-link" href="#info">INFO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#ast">AST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#cfg">CFG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#log">LOG</a>
                </li>
            </ul>
            <select id="input-selector" class="form-control form-control-sm" style="width: 200px;">
                <option value="<%= selected %>" selected><%= selected %></option>
                <% for (let name of examples) { %>
                <option value="<%= name %>"><%= name %></option>
                <% } %>
            </select>
        </div>
    </div>
</nav>
<div class="panel">
    <div class="panel-left">
    <button id="submit" class="btn btn-primary" type="button" data-toggle="tooltip" data-placement="bottom" data-html="true" title="<em>Ctrl + Enter</em> ">
        Submit
    </button>
    <textarea id="source" name="source" style="border: 1px solid #d8d8d8"><%= input %></textarea>
    </div>
    <!--<div class="splitter" style="touch-action: none;"></div>-->
    <div class="panel-right">
        <div class="viewer">
            <div class="tab-content">
                <div id="info" class="tab-pane fade">
                    <h3>HOME</h3>
                    <p>Some content.</p>
                </div>
                <div id="ast" class="tab-pane fade show active">
                    <pre id="ast-view" class="scrollable-view"></pre>
                </div>
                <div id="cfg" class="tab-pane fade">
                    <pre id="cfg-view" class="scrollable-view"></pre>
                </div>
                <div id="log" class="tab-pane fade">
                    <h3>Menu 3</h3>
                    <p>Some content in menu 3.</p>
                </div>
                </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/static/js/codemirror.js"></script>
<script src="/static/js/javascript.js"></script>
<script src="/static/js/jquery.json-viewer.js"></script>
<script src="/static/js/viz.js"></script>
<script src="/static/js/full.render.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>