<html>
<head>
    <title>static-engine view</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/style/jquery.json-viewer.css" type="text/css" rel="stylesheet">
    <style type="text/css" media="screen">
        #editor { 
            height: calc(100vh - 40px);
            width: 100%;
        }
        #myButton {
            height: 40px;
        }
        .fill { 
            min-height: 100%;
            height: 80%;
        }
        body {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid fill">
        <div class="row fill">
            <div class="col-lg-3">
                <div id="editor"></div>
                <button id="myButton" onClick="analyze()">Analyze</button>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div id="svg-draw"></div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/scripts/editor/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/scripts/viz.js"></script>
    <script src="/scripts/full.render.js"></script>
    <script src="/scripts/jquery.json-viewer.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>