body {
    margin: 0;
    font-family: Raleway, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome Safari */
}

pre {
    margin-bottom: 0;
}

svg {
    width: 100%;
    height: 100%;
}

.panel {
    position: relative;
    height: 100vh;
}

.panel-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    z-index: 6;
}

.panel-right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40vw;
    z-index: 5;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-right div {
    height: 100%;
}

.scrollable-view {
    height: 100%;
    overflow: auto;
}

.CodeMirror {
    width: 100%;
    height: 100vh;
    border: none;
}

#submit {
    position: absolute;
    right: 0;
    z-index: 10;
    margin: 18px 25px;
}

#source {
    display: none;
}

.splitter {
    flex: 0 0 auto;
    width: 18px;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    height: 100vh;
    cursor: col-resize;
    position: absolute;
    touch-action: none;
    left: 40vw;
}

.viewer {
    padding: 10px;
}

.navbar ul {
    position: relative;
    width: 100%;
}

.nav-search {
    position: absolute;
    right: 0;
}

#cfg-view {
    text-align: center;
}

.spinner {
    margin-top: 2px;
    margin-right: 4px;
}

.icon-bar {
    display: block;
    width: 22px;
    height: 3px;
    background: #ccc;
    border-radius: 1px;
    margin: 5px 0;
}

.navbar-toggler {
    position: absolute;
    right: 10px;
}

.nav-link {
    text-align: center;
}

#input-selector {
    margin-left: calc(50% - 100px);
}

#cfg {
    position: relative;
}

.with-media {
    display: none;
}

@media (max-width: 700px) {
    .panel-left {
        width: 100% !important;
    }

    .CodeMirror {
        width: 100% !important;
    }

    .with-media {
        display: block;
    }
}